<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div>
		
		<h2>CÓDIGO DE VERIFICAÇÃO</h2>
		
		<h3>Use esse código para conseguir acessar a opção do centro de privacidade</h3>
	</br>
	<br>
		<h1><span th:text="${subject.codigoValidacao}"> </span></h1>
	</div>
	<img src="https://www.linkpicture.com/q/Prancheta-1xxxhdpi.png" width="150px" height="170px">
</body>
</html>