<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Srs(a) <span th:text="${pedido.nome}"> </span>
		</h1>
		
		<h5>Bem vindo a Inpakta!</h5>
		
		Baixe sua versão do programa de DataDiscovery que irá te auxiliar nas tratativas que a nova LGPD irá exigir.
	</br>
		</br>
		<a href="https://drive.google.com/file/d/1yZxMQrZKWykxz_s5QnYFcU3Q2MvIPwQC/view?usp=sharing">Microsoft Windows</a>
	</br>
		Assim que solicitar o instalador, aguarde pela nossa validação :D.
	</br></br>
	</br>
		<a href="https://drive.google.com/file/d/1yZxMQrZKWykxz_s5QnYFcU3Q2MvIPwQC/view?usp=sharing">MacOS</a>
	</br></br>
		
		Infelizmente ainda não temos instalador compatível para os sitemas MacOs :/.
		Mas não se preocupe :D, conseguimos dispobilizar uma versão compacta sem a necessidade de instalação, 
		apenas salve em seu lugar preferido todos os arquivos da aplicação ;).
	</br></br>
		Atenciosmanete,
	</br>
		Equipe Inpakta.
	</br>
		<img src="icon.png" width="500px" height="320px"> 

	</div>
</body>
</html>